@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  h3 code, p code, li code {
    color: var(--background)
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
  display: grid;
  place-content: center;
}

h3 code, p code, li code {
  font-size: 16px;
  background: #fef9c2;
  padding: 3px;
}

pre code {
  font-size: 15px;
}

.emoji-large {
  font-size: 30px;
}

.emoji-small {
  font-size: 22px;
}

.icon-inline {
  display: inline;
}

.list {
  list-style-type: disc;
  line-height: 2;
  margin-left: 2.5em;
}
